.contactPage .title .line{
    background-color: #2C3E50;
}
input{
    border-right-width :0px !important; 
    border-left-width :0px !important; 
    border-top-width :0px !important; 
    border-bottom:solid 1px rgb(222, 226, 230);
}
input:focus{
    outline: none;
    border: none;
    border-bottom:solid 1px rgb(222, 226, 230);
}
label{
    color: #1ABC9C;
}
.label{
    position: absolute;
    bottom: -25px;
    transition: 0.3s;
    overflow: hidden;
}
.label.show{
    bottom: 5px;
}

.field{
  height: 40px;
} 
button{
    background-color: #1ABC9C;
    border: none;
}